@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    width: 400px;
    font-family: Arial, sans-serif;
    /* background-color: rgb(214, 117, 117); */
    /* background-color: rgb(237, 190, 249); */
    /* background-color: #83a1fb; */
    background-color: #131313;
  }
  
  #quiz {
    text-align: center;
    font-size: 16px;
    /* max-width: 500px; */
    margin: 0 auto;
    padding: 20px 20px;
    /* background-color: #83a1fb; */
    background-color: white;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px rgba(198, 222, 60, 0.2); */
  }

  #lyric {
    font-family: 'Pacifico', cursive;
  }
  
  h1 {
    text-align: center;
    /* color: #333333; */
  }

  #results {
    display: block;
    margin: 10 auto;
    padding: 10px 20px;
    background-color: rgb(237, 190, 249);
    color: #131313;
    /* border: none; */
    border: 1px solid black;
    /* border-radius: 5px; */
  }
  
  #question {
    margin: 20px;
    /* margin-bottom: 20px; */
    color: #131313;
  }
  
  #options {
    display: grid;
    gap: 10px;
    margin: 0 auto;
    padding: 20px 30px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  } 
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    width: 100%;
    background-color: rgb(237, 190, 249);
    color: #131313;
    border: 1px solid black;
    /* border-radius: 5px; */
    cursor: pointer;
  }

  button:active {
    background-color: #8f8d8d;
  }
  
  button:hover {
    background-color: #8f8d8d;
  }